doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    block title
      title 神知識
    include ../meta.pug

  body.post

    // { Header } 
    header
      - var article = true
      include ../header.pug

    // { Wrapper } 
    .wrapper
      .container

        // { Breadcrumb } 
        block breadcrumb
        
        //- 兩欄式
        .row
          // { Main } 
          main.col-md-18
            block main

          // { Aside } 
          aside.col-md-6
            block aside

        // { GoTop } 
        a.btn-gotop
          i.icon.icon-arrow-up
          span TOP


    // { Footer } 
    footer.footer
      include ../footer.pug


    //- ********** Script **********
    //- 
    include ../scripts.pug
