doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    block title
      title 購物車
    include ../meta.pug

  body

    // { Header } 
    header.simplify
      include ../header.pug

    // { Wrapper } 
    .wrapper.fill.testdist
      .container

        // { Full Background }
        //- 使用於會員登入頁 滿版背景圖
        block bgAD

        // { Step }
        block step
        
        // { Main } 
        main.row
          block main


    // { Footer } 
    footer.footer.simplify
      include ../footer.pug


    //- ********** Script **********
    //- 
    include ../scripts.pug
    //- ** Extra
    block scripts
