doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    block title
      title 商品分類
    include ../meta.pug

  body

    // { Header } 
    header

      block topbanner

      include ../header.pug

    // { Wrapper } 
    .wrapper
      .container

        // { Breadcrumb } 
        block breadcrumb

        .row
          // { Aside } 
          aside.col-md-5
            block aside

          // { Main } 
          main.col-md-19
            block main

        // { GoTop } 
        a.btn-gotop
          i.icon.icon-arrow-up
          span TOP


    // { Footer } 
    footer.footer
      include ../footer.pug


    //- ********** Script **********
    //- 
    include ../scripts.pug

    //- ** Extra
    block scripts
