doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    title 神腦線上
    include ../meta.pug

  body.home
    // { Header } 
    header
      // ### 置頂廣告 
      .top-banner
        .container
          .adbox.adbox-xs
            a(href="#0", title="廣告活動名稱")
              img(alt="廣告活動名稱", src="/public/images/banner/topbanner-3.jpg")
            button#ad-btn-open.btn.btn-inverted.btn-mini 展開廣告
          #adbox-popup.adbox.popup
            a(href="#0", title="廣告活動名稱")
              img(alt="廣告活動名稱", src="/public/images/banner/article-banner.jpg")
            button#ad-btn-close.btn.btn-inverted.btn-mini 收合廣告

      //- header logo 旁邊增加節慶版位 ( navbarAD = true )
      - navbarAD = true
      //- header 使用節慶 logo
      - isFestival = true
      include ../header.pug

    // { Wrapper }
    .wrapper.fill
      .container

        // { Aside }
        aside.col-md-5
          block aside

        // { Main }
        main.col-md-19
          block main

        // { Fixed AD }
        .adbox.adbox-rail.fixed
          .clearfix
            a.btn-close(href="")
              i.icon.icon-close
          figure
            p.figure-title
              a(href="") 下載APP
            img.figure-img(src="/public/images/app-download-qrcode.svg", alt="")
        
        // { GoTop } 
        a.btn-gotop
          i.icon.icon-arrow-up
          span TOP

    // { Footer } 
    footer.footer.festival
      include ../footer.pug


    //- ********** Script **********
    //- 
    include ../scripts.pug
