doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    block title
      title 購物車
    include ../meta.pug

  body

    // { Header } 
    header.simplify
      - var MemberIslogin = true
      include ../header.pug

    // { Wrapper } 
    .wrapper
      .container

        // { Step }
        block step
        
        // { Main } 
        main.row
          block main

        // { GoTop } 
        a.btn-gotop
          i.icon.icon-arrow-up
          span TOP

    // { Footer } 
    footer.footer
      include ../footer.pug


    //- ********** Script **********
    //- 
    include ../scripts.pug
    //- *** Extra ***
    block scripts
