doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    title VIP專屬賣場
    - var vipTemplate = true
    include ../meta.pug

  body.rwd-form

    //- 載入元件
    include ../_mixins/vip-store-elem.pug
    
    //- ****
    // { Wrapper } 
    .wrapper
      //- LOGO
      block logo

      //- Content
      block main
        
      //- Footer
      footer
        - var abridged = true
        +vipStore_footer()


    //- ********** Script **********
    //- 
    include ../scripts.pug
