doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    title VIP專屬賣場
    - var vipTemplate = true
    include ../meta.pug

  body.vip-store

    //- 載入元件
    include ../_mixins/vip-store-elem.pug
    
    //- ****
    // { Header } 
    header
      .container
        +vipStore_header()
        
    // { Wrapper } 
    .wrapper
      //- Banner
      .banner-area
        a.vip-bannerbox(href="")
        .container
          block bannerBar
      //- Product List
      .container
        block main

      // { GoTop } 
      a.btn-gotop
        i.icon.icon-arrow-up
        span TOP

    // { Footer } 
    footer
      .container
        +vipStore_footer()


    //- ********** Script **********
    //- 
    include ../scripts.pug
    
    //- ** Extra: PushMenu
    block scripts
