doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="zh-tw", lang="zh-tw")
  head
    block title
      title 神知識
    include ../meta.pug

  body.post

    // { Header } 
    header
      - var article = true
      include ../header.pug

    // { Wrapper:A } 
    .wrapper
      .container

        // { Breadcrumb } 
        block breadcrumb
        
        //- 輪播廣告
        .row
          block banner

    // { Wrapper:B }  
    .wrapper.fill
      .container   

        // { Article List } 
        block article

        // { GoTop } 
        a.btn-gotop
          i.icon.icon-arrow-up
          span TOP


    // { Footer } 
    footer.footer
      include ../footer.pug


    //- ********** Script **********
    //- 
    include ../scripts.pug
