//- order-list.pug
//- 
extends ../_layouts/_templates/template-home.pug

//- -------------------------------------
//- 側邊選單
block aside
  include ../_layouts/_home-aside.pug

//- -------------------------------------
//- 側邊選單
block main
  include ../_layouts/home-main.pug
