//- order-list.pug
//- 
extends ../_layouts/_templates/template-home-slider.pug

//- -------------------------------------
//- 側邊選單
block aside
  include ../_layouts/home-aside-slider.pug

//- -------------------------------------
//- 側邊選單
block main
  include ../_layouts/home-main-slider.pug