mixin bonusList()
    h5.css-table-caption.blue 分類分潤表
    table.table-event.middle.table-bordered.table-bonus
     tbody
      tr
       td.diagonal
        .out
         b 付款方式
         em 商品分類
       th.w-f10 信用卡分期 
       th.w-f10 信用卡一次付清
       th.w-f10 信用卡紅利折抵
       th.w-f10 ATM付款
       th.w-f10 門市繳費
      tr
       td.text-left.w-f8.spacing.lg #[i.icon.icon-cate-b.spacing.sm]#[span.spacing.left.mini 手機．平板]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 2]#[b.fn-sm %]
       td.text-center.danger #[span.price 2]#[b.fn-sm %]
       td.text-center.danger #[span.price 2]#[b.fn-sm %]
       td.text-center.danger #[span.price 2]#[b.fn-sm %]
      tr
       td.text-left.w-f8 #[i.icon.icon-cate-c.spacing.sm]#[span.spacing.left.mini 穿戴．相機．配件]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
      tr
       td.text-left.w-f8 #[i.icon.icon-cate-d.spacing.sm]#[span.spacing.left.mini 電腦．遊戲．週邊]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
      tr
       td.text-left.w-f8 #[i.icon.icon-cate-e.spacing.sm]#[span.spacing.left.mini 電視．影音]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
      tr
       td.text-left.w-f8 #[i.icon.icon-cate-f.spacing.sm]#[span.spacing.left.mini 生活．家電]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 1.5]#[b.fn-sm %]
      tr
       td.text-left.w-f8 #[i.icon.icon-cate-g.spacing.sm]#[span.spacing.left.mini 車用百貨]
       td.text-center.danger #[span.price 1]#[b.fn-sm %]
       td.text-center.danger #[span.price 3]#[b.fn-sm %]
       td.text-center.danger #[span.price 3]#[b.fn-sm %]
       td.text-center.danger #[span.price 3]#[b.fn-sm %]
       td.text-center.danger #[span.price 3]#[b.fn-sm %]
      tr
       td.text-left.w-f8 #[i.icon.icon-cate-h.spacing.sm]#[span.spacing.left.mini 保健．保養]
       td.text-center.danger #[span.price 2]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
      tr
       td.text-left.w-f8 #[i.icon.icon-cate-i.spacing.sm]#[span.spacing.left.mini 生活．美食]
       td.text-center.danger #[span.price 0.2]#[b.fn-sm %]
       td.text-center.danger #[span.price 0.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 0.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 0.5]#[b.fn-sm %]
       td.text-center.danger #[span.price 0.5]#[b.fn-sm %]

      tr
       td.text-left.w-f8 #[i.icon.icon-cate-j.spacing.sm]#[span.spacing.left.mini 日用．戶外]
       td.text-center.danger #[span.price 2]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
       td.text-center.danger #[span.price 5]#[b.fn-sm %]



    //- 20180329 加碼方案暫時隱藏
    //-h5.css-table-caption.blue 主題性商品 - 加碼方案
    //-table.table-event.normal.middle.table-bordered.table-bonus
     tbody
      tr
       th.w-f7 商品品牌
       th.w-f16 商品名稱
       th.w-f4 加碼分潤金額
       th.w-f4 加碼分潤起訖日
      tr
       td.text-center 順天本草
       td.text-left 順天本草【蔓越莓四物飲】6入/盒
       td.text-center.danger #[span.price 5]#[b.fn-sm %]
       td.text-center 2018/01/01 ~ 2018/01/31
      tr
       td.text-center 健康總匯
       td.text-left 健康總匯 不順便缺環保_益生菌顆粒(60包/盒)_3入
       td.text-center.danger #[span.price 100]#[b.fn-sm 元]
       td.text-center 2018/01/01 ~ 2018/01/31
    