//- faq-item.pug
//- 
//- FAQ 問題列表
include _layouts/_mixins/bonus-list.pug
- var faqMember = [{title: "已經是門市會員，是否也同時有網站會員身分？", content: "如已是門市會員，您仍需於網站上開通網站會員服務。煩請您透過網站首頁點選右上角【註冊】依網站程序填寫資料並自設密碼，開通完成後即可立即成為網站會員並使用會員相關功能。"}]

 -
    var faq2RMember = [
      {
        title: "何謂2R?",
        content: "只要來神腦線上透過分享的方式將商品或是活動訊息推薦出去，當您的朋友購買成交後，您就能獲得0.5%~3%的回饋金。無論透過連結傳遞，文章分享或是放上廣告推薦，只要網友點了並成交後，您就能賺到回饋金喔!",
        //class:"hide"
      },
       {
        title: "如何加入2R?",
        content: "登入會員中心，申請加入、填寫相關註冊資訊，並繳交相關證明。通過審核即可加入囉！",
        //class:"hide"
      },
       {
        title: "2R分潤辦法",
        content: "只要推薦成交，便可依據分潤獎金表，計算相對應的分潤金額。",
        //class:"show"
      }
      ]


//- **
mixin faqItem(items)
  dl.accordion
    - for (i=1; i<=3; i++) {
      each item, index in items
        dt.accordion-title
          a(data-toggle="collapse", href="#faq-"+index+"-"+i, aria-expanded="true")
            i.icon.icon-plus
            | #{item.title}
        dd.accordion-content.collapse.in(id="faq-"+index+"-"+i)
          // ### 嵌入內容請放置於 <div.iframe-wrap> ### 
          .iframe-wrap
            | #{item.content}
    - }
mixin faq2RItem(items)
  dl.accordion
   each item, index in faq2RMember
        dt.accordion-title
          a(data-toggle="collapse", href="#faq-"+index+"-"+i, aria-expanded="true")
            i.icon.icon-plus
            | #{item.title}
        dd.accordion-content.collapse.in(id="faq-"+index+"-"+i)
          // ### 嵌入內容請放置於 <div.iframe-wrap> ### 
          .iframe-wrap
            | #{item.content}#[br]#[br]
