//- form-elem.pug
//-
//- A) Select
mixin select(...items)
  select(name="")&attributes(attributes)
    each item, index in items
      if (index == 0)
        option(selected="selected", value=item)= item
      else
        option(value=item)= item