//- ---------------------------------------------------
//- JSON (產品分類清單： 第一層分類, 第二層分類, 第三層分類)


//- ---------------------------------------------------
//- Type
// 商品分類 
mixin categorySide(val)
  .panel.panel-primary.shrink
    .panel-head
      a(href="/dist/category-main.html") 手機通訊
    .panel-body
      .nav-list.category-tree
        // A1 
        .nav-item
          if val == 2
            .nav-list-title.active
              a(href="/dist/category-sub.html") 手機
              a.btn-switch(data-toggle="collapse", href="#cate-1-sub", aria-expanded="true")
                i.icon.icon-minus-square-outline
          else
            .nav-list-title
              a(href="/dist/category-sub.html") 手機
              a.btn-switch(data-toggle="collapse", href="#cate-1-sub", aria-expanded="true")
                i.icon.icon-minus-square-outline
          // A2 
          ul#cate-1-sub.nav-list.collapse.in(aria-expanded="true")
            if val == 3
              li.nav-item.active
                a(href="/dist/category-sub-child.html") 智慧型手機
              li.nav-item
                a(href="/dist/category-sub-child.html") 一般手機
            else
              li.nav-item
                a(href="/dist/category-sub-child.html") 智慧型手機
              li.nav-item
                a(href="/dist/category-sub-child.html") 一般手機
        // B1 
        .nav-item
          .nav-list-title
            a(href="/dist/category-sub.html") 平板
            a.btn-switch(data-toggle="collapse", href="#cate-2-sub", aria-expanded="true")
              i.icon.icon-minus-square-outline
          // B2 
          ul#cate-2-sub.nav-list.collapse.in(aria-expanded="true")
            li.nav-item
              a(href="/dist/category-sub-child.html") 平板電腦
        // C1 
        .nav-item
          .nav-list-title
            a(href="/dist/category-sub.html") 通訊配件
            a.btn-switch(data-toggle="collapse", href="#cate-3-sub", aria-expanded="true")
              i.icon.icon-minus-square-outline
          // C2 
          ul#cate-3-sub.nav-list.collapse.in(aria-expanded="true")
            - var cate3nav = ["智慧穿戴式裝置", "喇叭/耳機", "行動電源", "皮套/背蓋", "保護貼", "手機/平板線材", "手機/平板周邊"]
            each item in cate3nav
              li.nav-item
                a(href="/dist/category-sub-child.html")= item