//- category-main-brands.pug

.row.spacing.bottom.sm
  h4.list-group-title 品牌推薦
  ul.list-group.brands
    li.item
      a(href="")
        img(src="/public/images/logo-samsung.svg", alt="Brand")
    li.item
      a(href="")
        img(src="/public/images/logo-sony.svg", alt="Brand")
    li.item
      a(href="")
        img(src="/public/images/logo-htc.svg", alt="Brand")
    li.item
      a(href="")
        img(src="/public/images/logo-apple.svg", alt="Brand")
    li.item
      a(href="")
        img(src="/public/images/logo-oppo.svg", alt="Brand")
    li.item
      a(href="")
        img(src="/public/images/logo-mi.svg", alt="Brand")
    li.item
      a(href="")
        img(src="/public/images/logo-asus.svg", alt="Brand")
    li.item
      a(href="")
        img(src="/public/images/logo-panasonic.svg", alt="Brand")