//- 指定分類搜尋 且 可自動帶入關鍵字的 搜尋框
form.search-bar-group(action="/dist/search-none.html", method="get")
  .input-group.search-bar
    input.blue.has-icon-search.flexdatalist(maxlength="60", name="search", placeholder="您今天想找什麼？", type="search" )
    div.dropdown
        a.btn.btn-query-outline.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") 全商品分類 
        div.dropdown-menu
            a.nav-link(href="#") 超神優惠專區
            a.nav-link(href="#") 手機 / 平板
            a.nav-link(href="#") 穿戴 / 相機 / 配件
            a.nav-link(href="#") 電腦 / 遊戲 / 周邊
            a.nav-link(href="#") 電視 / 影音
            a.nav-link(href="#") 生活家電
            a.nav-link(href="#") 車用百貨
            a.nav-link(href="#") 保健 / 保養
            a.nav-link(href="#") 食品 / 票券
            a.nav-link(href="#") 生活 / 日用 / 設計

                
    button.btn.btn-query
        i.icon.icon-search-white
            
  //- 下拉展開關鍵字列表
  +search_dropdown()
          
  //- 熱門關鍵字
  +search_keyword()