//- 預設搜尋框
form.search-bar-group(action="/dist/search-none.html", method="get")
  .input-group.search-bar
    input.blue.has-icon-search(maxlength="60", name="search", placeholder="您今天想找什麼？", type="search")
    button.btn.btn-query 找商品
            
  //- 下拉展開關鍵字列表
  +search_dropdown()
          
  //- 熱門關鍵字
  +search_keyword()
