// ### 置頂廣告 
.top-bannerbox
  .container
    .adbox.adbox-xs
      a(href="#0", title="廣告活動名稱")
        img(alt="廣告活動名稱", src="/public/images/banner/topbanner-3.jpg")
      button#ad-btn-open.btn.btn-inverted.btn-mini.js-ad-popup 展開廣告
    #adbox-popup.adbox.popup
      a(href="#0", title="廣告活動名稱")
        img(alt="廣告活動名稱", src="/public/images/banner/article-banner.jpg")
      button#ad-btn-close.btn.btn-inverted.btn-mini.js-ad-popup 收合廣告