//- 隱私權政策 clause-privacy.pug
//-
p.spacing.bottom.
  維護個人隱私權且支持【個人資料保護法】之規定，請您詳閱以下有關隱私權保護相關內容。
  
dl.manual
  dt 一、 本政策之適用
  dd.
    隱私權政策聲明適用於神腦線上及神腦門市，及其延伸服務網站活動時，所涉及的個人資料之收集、運用與保護。但不適用於您經由本網站搜尋連結至其他網站後，所進行之活動，關於您在其他網站的個人資料之保護，適用各該網站的隱私權保護政策。對於不屬於神腦線上之網站或網頁，均與神腦線上無關。

  dt 二、 個資使用範圍
  dd.
    神腦線上為了提供會員完整良好的購物過程，將請會員於訂購時，填寫本服務所需之相關資料；除另有規定外，因此所取得會員個人資料，神腦線上僅作為會員所需的個別服務為主。

  dt 三、 個資使用期間
  dd.
    神腦線上為提供會員更好之服務品質，將會在法令使用或會員同意下，將會員資料提供給合作之商品供應商、商品配送物流商或其關係企業，以提供相關保固服務、行銷及優惠訊息。神腦線上將持續使用會員所提供個人資料，直至會員提出停止使用。

  dt 四、 cookie技術之使用
  dd.
    神腦線上將盡力保障所有個人資料之安全，並在會員的電腦中使用cookie技術來記錄【購物車】內的物品及個人化服務等用途，並無侵犯個人隱私之意圖，使用者可以經由瀏覽器的設定、取消、或限制此項功能，但有可能會影響到無法使用部份網站功能。

  dt 五、 個資安全注意事項
  dd
    | 神腦線上將謹慎的保護會員個人資料，會員有責任保護帳號密碼的機密性，避免會員的帳號密碼遭有心人士盜用，除非經您的同意、依法律之規定，或本服務銷售(行銷)等目的用途外，絕不會將會員的個人資料透漏予任何與神腦無關之第三人。
    br
    | 若是與他人共享電腦或使用公共電腦，請務必記得使用完各服務後需登出，並關閉瀏覽器視窗，並建議您不定期更改密碼，若因帳號密碼外洩造成損害，神腦線上將不負任何賠償責任。

  dt 六、 個資之查詢、更正及調閱等事項 
  dd
    | 會員有權閱覽、查詢、補充或修改個人會員帳戶資料，神腦線上會不定期發送行銷訊息，會員可選擇取消訂閱相關訊息。
    br
    | 神腦線上保有權利向會員傳送服務相關特定訊息(服務通知、訊息)，若會員不願接收前述訊息，請與客服中心聯絡申請，但該會員帳號可能將無法享受完整服務，或完全無法使用該項服務。

  dt 七、 本政策之修訂
  dd.
    神腦線上隱私權保護政策將因應需求，隨時進行修正，以落實保障使用者隱私權之立意。修正後的條款將刊登於本網站上，不另行個別通知，您可於神腦線上網站上詳閱修訂隱私權聲明及相關告知事項。