//- 會員服務條款 clause-terms.pug
//-
p.spacing.bottom.
  歡迎您加入神腦2R會員，為了保障您的權益，請務必詳讀本條款：
  
dl.manual
  dt 一、 會員同意及注意事項
  dd
    ul.has-type-decimal
      li 當您於神腦線上完成註冊手續成為神腦2R會員時，即視為已閱讀、瞭解並同意接受本服務條款之所有內容。
      li 神腦線上有權於任何時間基於需要而修改或變更本服務條款之內容，並公佈於網站內，建議您隨時注意相關修改或變更。
      li 您於本服務條款修改或變更後繼續使用神腦線上所提供之任一服務時，即視為您已閱讀、瞭解並同意接受該等修改或變更。如果您不同意本服務條款內容之全部或ㄧ部時，或者您所屬的國家或地域之法律排除本服務條款內容之全部或ㄧ部之適用時，您應立即停止使用神腦線上之服務。
      li 會員註冊成功後，神腦線上將不定期主動發送神腦(線上)、神腦關係企業及合作廠商之相關活動資訊。若會員收到資訊後拒絕接受行銷時，可自行登入會員功能取消，神腦線上將協助您，儘速取消該行銷訊息提供服務。
      li 若您未滿20歲，除應符合上述規定外，並應於您的法定代理人閱讀、瞭解並同意本服務條款之所有內容及其後之修改或變更後，方得註冊或使用神腦線上。當您使用或繼續使用神腦線上所提供之任一服務時，即推定您的法定代理人已閱讀、瞭解並同意接受本服務條款之所有內容及其後之修改或變更。

  dt 二、 會員資料之正確及更新
  dd
    ul.has-type-decimal
      li 註冊會員時，應填寫正確、完整之個人資料。
      li 個人資料有所變更異動時，應即時更新資料，確保其正確性。
      li 如您提供任何錯誤或不實的資料、或欠缺必要之資料、或原提供之資料已不符合真實，神腦線上有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部份。若您所提供資料有錯誤、不實或其他類似情事之一，致您、第三人或神腦權益受損，需請您自行處理及負擔相關法律及賠償責任，概與神腦無涉。

  dt 三、 會員帳號之保管及安全
  dd
    ul.has-type-decimal
      li 您的會員帳號僅供您個人使用，不得轉借、轉讓他人或與他人合用。
      li 您有義務妥善保管會員帳號、密碼及其他相關資訊，每次登入連線完後，務必登出系統結束帳號使用。
      li 若您發現或疑似會員帳號內個人資料，遭他人非法使用或有任何安全性問題發生時，請您立即以電話、電子郵件或線上客服等方式，通知神腦線上；若您的帳號密碼確係遭他人冒用時，神腦線上將請您提供相關個人資料供驗證，並待驗證完成後，限制或暫停該爭議帳戶之使用權限。
      li 如因您的保管疏忽或同意由第三人使用其帳號，導致會員帳號、密碼遭他人非法使用，致您、第三人或神腦權益受損，需請您自行處理及負擔相關法律及賠償責任，概與神腦無涉。

  dt 四、 合法及合理使用義務
  dd
    | 會員承諾不得以任何非法目的或方式使用本服務，並承諾遵守中華民國相關法令、主管機關規定，及所有使用網際網路之國際慣例。如會員係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。
    
    h5 您不得利用本服務從事侵害他人權益或違法行為（包括但不限於下列行為）：
    ul.has-type-decimal
      li 公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案。
      li 侵害或毀損他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利。
      li 違反依法律或契約所應負之保密義務。
      li 冒用他人名義使用本服務。 
      li 傳輸或散佈電腦病毒或任對電腦軟、硬體產生破壞之程式碼資料。
      li 濫發垃圾郵件、廣告郵件、連銷信、違法之多層次傳銷訊息等。
      li 從事未經神腦線上事前授權的商業行為。
      li 其他神腦線上合理認為不適當之行為。

  dt 五、 隱私權保護政策
  dd.
    會員所註冊或使用本服務時所提供之個人資料，神腦線上將依「隱私權保護政策」為利用與保護。若您因使用本服務，致生糾紛，以本服務原資料庫所記錄之電子資料為認定標準，但經您提出合理佐證資料，並由神腦線上核對無誤者，不在此限。

  dt 六、 商品交易事項
  dd
    ul.has-type-decimal
      li 商品交易頁面呈現之商品資訊為契約之一部份。
      li 會員若有逾越商品購買上限數之下單，神腦線上僅依該商品數量上限出貨。
      li 訂購產品後倘任意退換貨、取消訂單、轉賣銷售或有其他不適當，而造成神腦線上作業上困擾或損害之行為，神腦線上均可視情況拒絕交易或永久取消會員資格。

  dt 七、 本服務中斷或故障之處理
  dd.
    神腦線上將依現時技術水準，確保本服務之穩定性，若本服務有中斷或故障等情事之一，神腦線上將盡最大可能儘速完成修正，且需請您配合採取適當之自我防護措施(例如：使用電腦防火牆、防毒軟體，及避免使用公共電腦登入本服務等)；就前開服務中斷或故障期間內，若致您有使用不便、資料喪失、錯誤、遭竄改，或其他直接/間接經濟損失，神腦就此不負擔相關法律及賠償責任。

  dt 八、 智慧財產權
  dd
    ul.has-type-decimal
      li 神腦線上使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由神腦線上或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。
      li 任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得神腦線上或其他權利人的事前書面同意。尊重智慧財產權是您應盡的義務，如有違反，致該權利人或神腦權益受損，需請您自行處理及負擔相關法律及賠償責任。

  dt 九、 本服務之終止
  dd
    ul.has-type-decimal
      li 基於維護交易安全及業務需求之考量，本服務有可能停止或終止提供服務之全部或一部，會員不可因此而要求神腦線上提供任何賠償或補償。
      li 如會員違反本服務條款，神腦線上保留暫時停止或終止提供本服務之權利，會員不可以因此而要求任何賠償或補償。

  dt 十、 準據法與管轄法院
  dd
    ul.has-type-decimal
      li 本服務條款中，任何條款之全部或一部份無效時，其他條款仍應完全有效。
      li 本服務條款之解釋與適用，以及與本服務條款有關之爭議，均應依中華民國法令解釋及規章、慣例為依據處理。