//- footer_2R.pug



//- ****
.container

  
  //- B) Copyright
  .row.footer-info
    .col-md-16
      //- navs: 暫時移除此列 update.20161108
      //- ul.nav.nav-inline
      //-   each item in footerAbout
      //-     li.nav-item
      //-       a.nav-link(href=item.link)= item.name
      //- **
      p.copyright.
        神腦國際企業股份有限公司　地址：台灣23148新北市新店區中正路531號2樓#[br]
        Copyright@2016 SENAO INTERNATIONAL CO.,LTD

    //- Download Icons
    .col-md-8
      .app-downloads
        span.text-muted.
          神腦線上APP下載#[br]#[a.underline.inverted(href="https://www.senao.com.tw/event/20170101_app_renew", target="_blank") 詳細說明]
        img.qrcode(alt="AppStore", src="/public/images/app-download-qrcode.svg")

