.pagination
  ul.pagination-nav.has-inline
    //- li
    //-   a.nav-prev(aria-lable="Previous", href="#0", title="上一頁")
    //-     i.icon.icon-arrow-left
    //- li
    //-   a(href="#0") 1
    //- li
    //-   a(href="#0") 2
    //- li 
    //-   a(href="#0") ...
    //- li
    //-   a(href="#0") 5
    //- li
    //-   a(href="#0") 6
    //- li.active
    //-   a(href="#0") 7
    //- li
    //-   a(href="#0") 8
    //- li
    //-   a(href="#0") 9
    //- li 
    //-   a(href="#0") ...
    //- li
    //-   a(href="#0") 427
    //- li
    //-   a(href="#0") 428
    //- li
    //-   a.nav-next(aria-lable="Next", href="#0", title="下一頁")
    //-     i.icon.icon-arrow-right
  span.pagination-goto.
    共#[span.number 428]頁，前往#[input.input-mini(type="text")]頁