//- category-sub.pug
//- 
extends _layouts/_templates/template.pug

//- -------------------------------------
//- 頁面狀態列標題
block title
  title 手機通訊/手機

//- -------------------------------------
//- 麵包屑
block breadcrumb
  include _layouts/_mixins/breadcrumb.pug
  - var cateLevelTwo = true
  +breadcrumb_dropdown(crumbCategory)

//- -------------------------------------
//- header top banner 至頂廣告
block topbanner
  include _layouts/_elements/_header-top-bannerbox.pug

//- -------------------------------------
//- 側邊選單
block aside
  include ./_elements/aside-category.pug
  +categorySide(2)

//- -------------------------------------
//- 主內容
block main
  //- ***
  // 輪播 
  .slider.gallery-slider.gallery-slider-size2
    ul.gallery-slider2-view
      each i in [0, 1, 2, 3]
        li
          a(data-gaevent="slider-"+(i), href="javascript:;", title="")
            img(alt="", src="/public/images/demo/category_2_950.jpg")
  
  //- ***
  // 排序篩選 
  .filter
    .btn-group.pills.pull-left
      button.btn.btn-sm.btn-query 依上架日期
      button.btn.btn-sm.btn-query-outline 價格由高到低
      button.btn.btn-sm.btn-query-outline 價格由低到高
    .btn-group.pills.pull-right
      span.divider 1 / 12
      button.btn.btn-default.btn-sm
        i.icon.icon-arrow-left
      button.btn.btn-default.btn-sm
        i.icon.icon-arrow-right

  //- ***
  // 商品列表 
  .row
    include _layouts/_mixins/product-item.pug
    - for (var i=1; i<=7; i++) {
      +productRow()
    - }

  //- ***
  // 頁籤 
  include _layouts/pagination.pug

