//- category-sub.pug
//- 
extends _layouts/_templates/template.pug

//- -------------------------------------
//- 頁面狀態列標題
block title
  title 手機通訊/手機

//- -------------------------------------
//- 麵包屑
block breadcrumb
  include _layouts/_mixins/breadcrumb.pug
  - var cateLevelTwo = true
  - var cateLevelThree = true
  - var descriptionShow = true
  +breadcrumb_dropdown(crumbCategory)

//- -------------------------------------
//- header top banner 至頂廣告
block topbanner
  include _layouts/_elements/_header-top-bannerbox.pug

//- -------------------------------------
//- 側邊選單
block aside
  include ./_elements/aside-category.pug
  +categorySide(3)
  

//- -------------------------------------
//- 主內容
block main
  //- ** 載入元件
  include _layouts/_mixins/product-item.pug
  //- **
  // AD 
  .adbox.adbox-xs.spacing.bottom
    a(href="#0", title="廣告活動名稱")
      img(alt="廣告活動名稱", src="/public/images/demo/category_3_950.jpg")

  // 焦點商品 
  .row.flex
    +productRowBig()

  // 排序篩選 
  .filter
    .btn-group.pills.pull-left
      button.btn.btn-sm.btn-query 依上架日期
      button.btn.btn-sm.btn-query-outline 價格由高到低
      button.btn.btn-sm.btn-query-outline 價格由低到高
    .btn-group.pills.pull-right
      span.divider 1 / 12
      button.btn.btn-default.btn-sm
        i.icon.icon-arrow-left
      button.btn.btn-default.btn-sm
        i.icon.icon-arrow-right
  
  // 商品列表 
  .row
    - for (var i=1; i<=7; i++) {
      +productRow()
    - }
  
    //- ***** Modals *****
  //- 
  // 商品說明
  #productDescription.modal
    .modal-dialog.productDescription
      .modal-content
        //-.modal-header
           button.close(type="button" data-dismiss="modal" aria-hidden="true")
                i.icon.icon-close
        .modal-body
          .normal-title.product-description-title
           h1 微星筆電
          p 電競筆電品牌首選MSI微星。內行人都知道，電競筆電當然要選MSI微星筆電。「MSI微星」可說是遊戲及電競業界最值得信賴的領導品牌，MSI微星投入專業電競硬體多年，完美整合電競筆電所需要的極致效能、逼真視覺、高傳真音效、精準操控及流暢直播！
          p MSI微星電競筆電、電競主機板屢創得獎佳績，至今榮獲CES 2017創新獎、台灣精品獎、德國iF設計大獎等獎項。此外，MSI微星更贊助了全球超過20個職業電競團隊，和玩家與粉絲深度結合，深入傾聽需求，吸收他們的專業知識與技能，將其回饋至產品優化，期望提供最優質的電競產品，給玩家們最極致享受的體驗。
          p 神腦線上精選多款MSI微星筆電，GTX 1070獨顯、4K UHD IPS等級面板、電競專用全彩可調式背光鍵盤等優質配備，現在購買指定款MSI微星筆電，再送MSI微星原廠贈品。多款MSI微星筆電超低優惠價，可享30期分期零利率，趕快搶購！
          //img.img-responsive(src="/public/images/product-img-temp.jpg")
        .modal-footer 
          button.btn.btn-default(type="button" data-dismiss="modal" aria-hidden="true") 關閉
          //button.btn.btn-primary(data-dismiss="modal") 取消索取紙本發票
  
  // 頁籤 
  include _layouts/pagination.pug
